@model CapaPresentacion.Models.Juegos

@{
    ViewData["Title"] = "Crear Sala BINGO!";
    int idJuego = int.Parse(@ViewBag.RecuperarIdJuego) + 1;
}

<h1>A punto de Crear una Sala</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearSalaDeJuego">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NombreSala" class="control-label"></label>
                <input asp-for="NombreSala" class="form-control" />
                <span asp-validation-for="NombreSala" class="text-danger"></span>
            </div>
     
            <div class="form-group">
                <input onclick="GuardarDatosHost(@idJuego)" type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Inicio</a>
    <a asp-action="Index">@ViewBag.RecuperarIdJuego  Funciona?</a>

</div>

