@model CapaPresentacion.Models.Juegos

@{
    ViewData["Title"] = "Registrar";
}

<h1>Ingresar @Model.Concluido</h1>


<h1>Ingresar datos para acceder al juego</h1>


<form asp-action="CrearUsuarioDeJuego" asp-route-id="@Model.IdJuego">
    <label>Nickname: </label>
    <input type="text" id="Nickname" name="nickname" placeholder="NickName" value="" />
    <label>Nombre:</label>
    <input type="text" id="Nombre" name="nombre" placeholder="Nombre" value="" />
    <input onclick="GuardarDatosUsuario()" type="submit" value="Crear" class="btn btn-primary" />
    
</form>
<input type="button" onclick="generarTarjeta(GenerarCombinacion())" class="accept-policy" value="Generar Tarjeta" />

<script>
    window.onload = function () {
        generarTarjeta(GenerarCombinacion());
    }
</script>
<div id="temporal" class="none"></div>
<div class="contenedorTarjeta" id="tarjeta"></div>



