@model CapaPresentacion.Models.Juegos

@{
    ViewData["Title"] = "Registrar";
}

<h1>Ingresar @Model.Concluido</h1>


<h1>Ingresar datos para acceder al juego</h1>


<form action="/" method="post">
    <label>Nickname: </label>
    <input type="text" id="nickname" name="nickname" placeholder="NickName" value="" />
    <label>Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="" />
    <a asp-action="Create">Create New</a>
</form>
<input type="button" onclick="generarTarjeta(GenerarCombinacion())" class="accept-policy" value="Generar Tarjeta" />

<script>
    window.onload = function () {
        generarTarjeta(GenerarCombinacion());
    }
</script>
<div id="temporal" class="none"></div>
<div class="contenedorTarjeta" id="tarjeta"></div>



